version: '3.7'

services:
  simp20-php:
    image: "${DOCKER_IMAGE_TAG}"
    labels:
      - "br.com.cesan.app=${$CI_PROJECT_NAME}" 
    environment:
      - DB_HOST=${DB_HOST}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - TENSORFLOW_URL=http://simp20-tensorflow:5000
      - no_proxy=localhost,127.0.0.1,simp20-tensorflow
      - NO_PROXY=localhost,127.0.0.1,simp20-tensorflow
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ../html:/var/www/html
    networks:
      - cntlm
    ports:
      - 9461:80
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 4192M

  simp20-tensorflow:
    image: "registry.cesan.com.br/cesan/simp20-tensorflow:latest"
    environment:
      - DB_HOST=${DB_HOST}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - FINDESLAB_HOST=${FINDESLAB_HOST}
      - FINDESLAB_DB=${FINDESLAB_DB}
      - FINDESLAB_DB_USER=${FINDESLAB_DB_USER}
      - FINDESLAB_DB_PASS=${FINDESLAB_DB_PASS}
      - PORT=5000
      - FLASK_ENV=development
      - MODELS_DIR=/app/models
      - no_proxy=localhost,127.0.0.1
      - NO_PROXY=localhost,127.0.0.1
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /home/cesan/simp2.0/modelos_treinados:/app/models
    networks:
      - cntlm
    ports:
      - 5000:5000
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 4096M


networks:
  cntlm:
    name: backing-services_cntlm
    external: true
